*{
	margin: 0;
	box-sizing: border-box;

}
@font-face{
      font-family:'apercu_mono_proimport';
      src:url('apercu_mono_pro.otf');
}

.__F
{
	font-family:'apercu_mono_proimport';
	font-size: 80px;
	text-align: center;
	background-image:linear-gradient(to right,#36d1dc,#5b86e5);
	color:#00004c;
	padding-top: 50px;
}


 .__one{
 	font-size: 35px;
 	font-family: helvetica,arial,sans-serif;
 	background-color:#00004c;
 	background-repeat: no-repeat;
 	font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px;
    color:#FFF;
    text-align: center;

 }

/*.__container{

	
	height: 196px;
	width: 400px;
	margin-top:1px; 
	margin-left: 150px;
	background-image:linear-gradient(to right,#36d1dc,#5b86e5);

	width: 80%;

}*/

.__large, .__small{
	font-size: 18px;
	line-height: 1.6em;
	width: 80%;
	margin: 0 auto;
}

.__large p,
.__small p{
	padding: 0 10px;
	text-align: justify;
}

.__small{
	
    font-family: helvetica,arial,sans-serif;
	background-color: #ffdab9;
	font-size: 22px;
	

}
.__large{
	font-family: helvetica,arial,sans-serif;
    font-weight: normal;
    margin-top: 1px;
}
.__cont2{
	padding: 40px 0;
    
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.__G{
	font-family:'apercu_mono_proimport';
	font-size: 60px;
	text-align: center;
	background-image:linear-gradient(to right,#36d1dc,#5b86e5);
	color:#00004c;
	padding-top: 50px;
}